* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

table {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 12px;
}

th {
  background-color: #252525;
  color: #fff;
  border-bottom: 3px solid #bbb;
  font-size: 16px;
}

td {
  background-color: #2e2e2e;
  color: #fff;
  border-bottom: 1px solid #bbb;
  font-size: 14px;
}

tr:nth-child(even) td {
  background-color: #3b3b3b;
}

img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
